.menu-container {
  background-color: #80f298;
  border-radius: 20px;
  border: 1px solid black;
  padding: 20px;
}

.menu {
  list-style: none;
  padding-left: 0px;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}
