<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="menu-container text-center">
          <ul class="menu">
            <li>
              <a (click)="rastreabilidade()">Controle de Entregas</a>
            </li>
            <li>
              <a>Consultar Material</a>
            </li>
            <li>
              <a (click)="romaneio()">Gerar Romaneio</a>
            </li>
            <li>
              <a (click)="cadastroVeiculos()">Cadastrar Transportadora</a>
            </li>
            <li>
              <a (click)="notaFiscal()">Nota Fiscal</a>
            </li>
            <li>
              <a (click)="pesquisa()">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
