<div class="rastreio">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <label class="label-padrao">Motorista</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-6">
        <label class="label-padrao">Veículo</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="row">
        <div class="col-6">
          <label class="label-padrao">Romaneio</label>
          <input class="input-padrao" type="text" />
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </a>
        </div>
      </div>

      <div class="card custom-card">
        <div class="row">
          <div class="col-12">
            <label class="label-padrao">Nota Fiscal</label>
            <input class="input-padrao" type="text" />
            <p class="tip">Coloque aqui o número da NF</p>
          </div>
          <div class="col-3">
            <label class="label-padrao">Confirma Entrega?</label>
          </div>
          <div class="col-2">
            <button class="btn-sim">Sim</button>
          </div>
          <div class="col-2">
            <button class="btn-nao">Não</button>
          </div>
          <div class="col-5">
            <button class="btn-salvar">Salvar Alterações</button>
          </div>
          <div class="col-12">
            <label class="label-padrao">Observação</label>
            <textarea></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <table>
            <thead>
              <tr>
                <td>Sequência</td>
                <td>Nota Fiscal</td>
                <td>Status</td>
                <td>Volume m³</td>
                <td>Data de Entrega</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>3434</td>
                <td>SIM</td>
                <td>30</td>
                <td></td>
                <td><input type="checkbox" /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <iframe></iframe>
          <div class="text-center">
            <button class="btn-sim">Visualizar Mapa</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
