<div class="veiculo">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-12">
            <label class="label-padrao">Placa</label>
            <input class="input-padrao" type="text" />
          </div>
          <div class="row">
            <div class="col-6">
              <label class="label-padrao">Código</label>
              <input class="input-padrao" type="text" />
            </div>
            <div class="col-6">
              <label class="label-padrao">Veículo</label>
              <input class="input-padrao" type="text" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-5">
        <label class="label-padrao">Foto Veículo</label>
        <img class="img-veiculo" src="../../assets/img/foto-caminhao.jpg" />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label class="label-padrao">Renavam</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-3">
        <label class="label-padrao">Chassi</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-3">
        <label class="label-padrao">Modelo</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-3">
        <label class="label-padrao">Cor</label>
        <input class="input-padrao" type="text" />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label class="label-padrao">Altura</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-3">
        <label class="label-padrao">Largura (m)</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-3">
        <label class="label-padrao">Comprimento (m)</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-3">
        <label class="label-padrao">Volume (m³)</label>
        <input class="input-padrao" type="text" />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label class="label-padrao">Capacidade Max (kg)</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-3">
        <label class="label-padrao">Capacidade Max (m³)</label>
        <input class="input-padrao" type="text" />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label>Status</label>
        <form class="status">
          <fieldset id="status">
            <input name="status" type="radio" />
            <label>Livre</label>
            <br />
            <input name="status" type="radio" />
            <label>Oficina</label>
            <br />
            <input name="status" type="radio" />
            <label>Bloqueado</label>
            <br />
          </fieldset>
        </form>
      </div>
      <div class="col-6">
        <label class="label-padrao">Observação</label>
        <textarea></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn-cadastrar">Cadastrar Veículo</button>
      </div>
    </div>
  </div>
</div>
