<div class="login text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <label>Usuário&nbsp;&nbsp;</label>
        <input class="input-padrao" type="text" />
      </div>
      <div class="col-12">
        <label>Senha&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="input-padrao" type="password" />
      </div>
      <div class="col-12">
        <button class="btn btn-login" (click)="Logar()">Login</button>
      </div>
    </div>
  </div>
</div>
