<div class="nota">
    <div class="container">
        <div class="custom-card-dk">
            <p class="title">Consultar Nota Fiscal</p>
            <div class="row">
                <div class="col-4">
                    <label>N°&nbsp;</label>
                    <input id="nNotaFiscalPesquisa" type="text" />
                </div>
                <div class="col-4">
                    <button class="btn-pesquisa" (click)="buscarNota()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>Pesquisar Nota Fiscal
          </button>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="info">
            <div class="row">
                <div class="col-12">
                    <p>Informações</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="label-padrao">Data de Criação</label>
                        <input disabled [ngModel]="notaSelecionada.dtEmissao | date: 'dd/MM/yyyy'" ng-disabled="" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label class="label-padrao">Nota Fiscal</label>
                        <input disabled [ngModel]="notaSelecionada.numero" type="text" />
                        <a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="label-padrao">Volumes</label>
                        <input disabled [ngModel]="volumes" type="text" />
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col-8">
            <label class="label-padrao">Transportadora</label>
            <input type="text" />
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </a>
          </div>-->
                </div>
                <div class="row">
                    <!--<div class="col-6">
            <button (click)="cadastrarNota()" class="btn-importar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
              </svg>Importar Romaneio
            </button>
          </div>-->
                    <div class="col-6">
                        <button data-toggle="modal" data-target="#modalEntrada" class="btn-entrada">Entrada de Nota Fiscal</button>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-12">
                <p>Descrição da Nota</p>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Código</td>
                        <td>Descrição</td>
                        <td>Quantidade</td>
                        <td>UM</td>
                        <td>Código Fiscal</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of produtosNota; let i = index">
                        <td>{{i}}</td>
                        <td>{{produto.produtoNota.nome}}</td>
                        <td>{{produto.produtoNota.quantidade}}</td>
                        <td>{{produto.produto.unidadeMedida}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEntrada" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Nota Fiscal</h5>
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label class="label-modal">Número</label>
            <input [(ngModel)]="novaNota.numero" type="text" />
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <label class="label-modal">Logradouro</label>
            <input [(ngModel)]="novaNota.endereco.logradouro" type="text" />
          </div>
          <div class="col-5">
            <label class="label-modal">Número</label>
            <input [(ngModel)]="novaNota.endereco.numero" type="text" />
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <label class="label-modal">Cidade</label>
            <input [(ngModel)]="novaNota.endereco.cidade" type="text" />
          </div>
          <div class="col-5">
            <label class="label-modal">Estado</label>
            <input [(ngModel)]="novaNota.endereco.estado" type="text" />
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <label class="label-modal">Cliente</label>
            <input [(ngModel)]="novaNota.cliente.nome" type="text" />
          </div>
          <div class="col-7">
            <label class="label-modal">Email</label>
            <input [(ngModel)]="novaNota.cliente.email" type="text" />
          </div>
          <div class="col-7">
            <label class="label-modal">CNPJ</label>
            <input type="text" data-mask="00.000.000/000-00" [(ngModel)]="novaNota.cliente.cnpj" />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="label-modal">Forma de Pagamento</label>
            <select [(ngModel)]="novaNota.formaPagamento">
              <option value="CREDITO">Crédito</option>
              <option value="DINHEIRO">Dinheiro</option>
              <option value="DEBITO">Débito</option>
            </select>
          </div>
          <div class="col-6">
            <label class="label-modal">Valor Total</label>
            <input type="number" [(ngModel)]="novaNota.valor" />
          </div>
          <br />
          <br />
        </div>
        <div class="row">
          <br />
          <p>Adicionar Produtos</p>
          <div *ngFor="let vez of vezes; let i = index">
            <div class="row">
              <div class="col-6">
                <label class="label-modal">Produto</label>
                <select [(ngModel)]="vez.nome" name="nome">
                  <option value="{{produto.descricao}}" *ngFor="let produto of produtos">{{produto.descricao}}</option>
                </select>
              </div>
              <div class="col-5">
                <label class="label-modal">Quantidade</label>
                <input [(ngModel)]="vez.quantidade" name="qtd" type="number" />
              </div>
              <div class="col-1">
                <a (click)="removerProduto(i)">X</a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn-entrada" (click)="adicionarProduto()">Adicionar produto</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="cadastrarNota()" class="btn-entrada">Salvar</button>
      </div>
    </div>
  </div>
</div>
